.header {
    height: 130px;
    background-color: #1B2023;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.grid__header {}

.header__navbar .logo {
    width: 150px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    display: inline-block;
    margin-top: 4px 0 0 0;
    padding-inline-start: 0px;
}

.header__navbar-list--margin {
    margin-top: 20px;
}

.header__navbar-item {
    margin: 0 24px;
    min-height: 26px;
    position: relative;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 8px;
}


/*Notify*/

.header__notify-img {
    width: 80px;
    object-fit: contain;
}

.header__notify {
    position: absolute;
    cursor: default;
    user-select: none;
    top: 118%;
    right: 0;
    width: 400px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 5;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 94px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes button {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0px;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background-color: #d3d6d8;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: black;
    line-height: 1.8rem;
}

.header__notify-decrip {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: black;
    padding: 8px 150px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 600;
}


/*header-wiht-search*/

.header-with-search {
    height: 50px;
    display: flex;
    align-items: center;
}

.header__seacrh {
    height: 40px;
    flex: 1;
    margin-left: 100px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    z-index: 1;
}

.header__user {
    height: 40px;
    width: 180px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header__user-img {
    height: 40px;
    border-radius: 100%;
}

.header__user-name {
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 4px;
    color: var(--white-color);
}

.header__post {
    width: 142px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--grayish-color);
    margin-left: 30px;
    display: flex;
}

.header__post-btn {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--white-color);
    margin: auto;
}

.header__cast {
    height: 40px;
    width: 60px;
    margin-left: 30px;
    display: flex;
}

.header__cast-btn {
    font-size: 2.8rem;
    color: var(--white-color);
    text-decoration: none;
    margin: auto;
}

.header__seacrh-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__seacrh-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 4px;
    /*position: relative;
    z-index: 0;*/
}

.header__seacrh-btn {
    height: 40px;
    width: 44px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--grayish-color);
    display: flex;
    text-decoration: none;
}

.header__seacrh-btn:hover {
    background-color: #ccc;
}

.header__seacrh-btn-icon {
    color: var(--white-color);
    font-size: 2.5rem;
    margin: auto;
}


/*--------------------MORE------------------------*/

.header__more {
    width: 120px;
    background-color: var(--white-color);
    top: 114%;
    right: 0;
    position: absolute;
    border: 1px solid #d3d3d3;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__navbar-item--has-more:hover .header__more {
    display: block;
}

.header__more-list {
    padding: 0;
    list-style: none;
}

.header__more-item {
    display: flex;
    margin: 0;
}

.header__more-item a {
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}

.header__more-item:hover {
    background-color: #f1f1f1;
}

.header__more-item-icon {
    margin-right: 4px;
}

.header__more::before {
    content: "";
    border-width: 11.8px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -23px;
}

.header__more::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 120px;
    height: 20px;
}


/*Search History*/

.header__search-history {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(170, 170, 170);
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    user-select: none;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__seacrh-input:focus~.header__search-history {
    display: block;
}


/*------------------footer----------------

.footer-icon {
    margin-top: 16px;
    margin-left: 24px;
    opacity: 0.8;
}

.footer-link {
    text-decoration: none;
    color: var(--grayish-color);
}

.footer-button {
    color: var(--grayish-color);
    margin-right: 10px;
    font-size: 1.5rem;
}

.footer-bottom {
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none;
    color: var(--grayish-color);
}*/

.header__post-btn:hover {
    font-weight: 700;
    color: var(--text-color);
}

.header__post:hover {
    background-color: #999;
}


/*************FOOTER**************/


/*-----FOOTER--------*/

.footer {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 100px;
    width: 100%;
}

.footer-icon {
    margin-top: 16px;
    margin-left: 24px;
    opacity: 0.8;
}

.footer-icon-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.footer-icon-box:hover {
    background-color: rgb(0, 0, 0);
}

.footer-link {
    text-decoration: none;
    color: var(--grayish-color);
}

.footer-button {
    color: var(--grayish-color);
    margin-top: 8px;
    margin-left: 0px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.footer-button:hover {
    color: white;
}

.footer-bottom {
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none;
    color: var(--grayish-color);
}