.container {
    background-image: linear-gradient(#1B2023, #52616B);
    margin-top: 120px;
    margin-bottom: 20px;
}

.category {
    border-radius: 4px;
    margin-top: 20px;
    /*border: #999 3px solid;*/
    background-color: var(--white-color);
    margin-bottom: 12px;
}

.category-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: 1px solid #999;
    padding: 0;
}

.category-header {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 18px;
}

.category-item {
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 122.3px;
}

.category-item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #1B2023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform linear 0.1s;
    will-change: transform;
}

.category-item-link:hover {
    transform: translateY(-5px);
    color: red;
}

.category-item-link-icon {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    background-color: var(--grayish-color);
}

.category-item-link-icon:hover {
    background-color: #999;
}


/*------------------CSS Tin mới đăng------------------------------*/

.productshow {
    border-radius: 4px;
    /*border: #999 3px solid;*/
    margin-top: 12px;
    background-color: var(--white-color);
}

.productshow__header {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}

.productshow__item {
    margin-top: 10px;
    padding-top: 2px;
    background-color: rgb(243, 243, 243);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
    transition: transform linear 0.1s;
    will-change: transform;
}

.productshow__item>a {
    display: block;
    text-decoration: none;
}

.productshow__item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
}

.productshow__item-img {
    padding-top: 100%;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.productshow__item-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.productshow__item-price {
    color: tomato;
    font-size: 1.4rem;
    padding-left: 10px;
}

.productshow__item-action {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.action__LIKE {
    font-size: 1.6rem;
    line-height: 32px;
    padding: 2px;
    margin-top: 4px;
    text-decoration: none;
    color: rgb(138, 136, 136);
    margin-top: -2px;
    margin-right: 77px;
}

.action__LIKE:hover,
.action__LIKE:focus {
    color: red;
}

.action__BUY {
    width: 72px;
    height: 32px;
    line-height: 32px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 55px;
    background-color: var(--grayish-color);
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}

.action__BUY:hover {
    background-color: #999;
    color: black;
}


/*--------------------------MORE------------------------*/

.productshow_more {
    background-color: var(--white-color);
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #999;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 18px;
}

.productshow_more-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}